.categories-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 90%;
    background-color: #009FFF;
}

.categories-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 40%;
    min-height: 40vh;
    border-radius: 10px;
    background-color: #fffffc;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;
}

.categories-list-wrapper h2{
    margin-top: 3%;
    color: #083758;
    font-family: roboto;
}

.categories-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 10%;
    color: rgb(56, 56, 56);
    font-family: roboto;
    border-radius: 10px;
    margin-top: 5%;
    border: 1px solid black;
    cursor: pointer;
    background-color: #F0F0F0;
    transition: 0.3s ease;
}

.categories-list:hover {
    transform: scale(1.1);
}

.categories-item {
    font-weight: 600;
    height: 100%;
    padding: 2%;
    /* margin-top: 2%; */
}

.category-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #009FFF;
}

.category-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 8%;
    color: #023e8a;
    background-color: #fffffc;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: 1px solid black;
}

.category-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: auto;
    /* background-color: rgb(43, 96, 126); */
}

.category-back {
    text-align: center;
    width: 100%;
}